.background__primary,
.background__secondary {
   position: relative;
   border-radius: .3rem;
   min-height: 68.5rem; //TODO
}

.background__primary { background-color: $theme-color-primary; }
.background__secondary { background-color: $theme-color-secondary; }