$side-panel-width: 30rem;

.board-page-layout {
   display: inline-block;
   // background-color: red;
   position: relative;
   font-size: 2rem;
   
   &__left {
      position: absolute;
      top: 0;
      left: -$side-panel-width;
      width: $side-panel-width;

      // background-color: blue;
      text-align: right;
      padding: 0 3rem;
   }

   &__right {
      position: absolute;
      top: 0;
      right: -$side-panel-width;
      width: $side-panel-width;

      // background-color: yellow;
      text-align: left;
      padding: 0 3rem;
   }

   &__element {
      margin-bottom: .5rem;
   }
}