.button {
   display: inline-block;
   background-color: $theme-color-tertiary;
   overflow: hidden;
   
   &__link,
   &__button {
      display: block;
      color: $theme-color-primary;
      text-decoration: none;
      transition: all .3s ease;
      
      font-size: 2rem;
      width: 13rem;
      padding: .5rem 1rem;
      text-align: center;
      
      &--large {
         font-size: 4rem;
         width: 45rem;
         padding: .5rem 3rem;
         text-align: right;
      }

      &:hover {
         transform: translateY(-.2rem);
      }
   }

   &__button {
      &,
      &:active {
         background-color: $theme-color-tertiary;
         cursor: pointer;
         border: none;
         width: 20rem;
         font-family: inherit;
         outline: none;
      }

      &:hover {
         transform: translateY(-.2rem);
      }
   }
}
