.game-finished-page {
   padding-top: 5rem;
   font-size: 2rem;
   color: $theme-color-tertiary;

   &__heading {
      margin-bottom: 2rem;
   }

   &__text {
      margin-bottom: 2rem;
   }

   &__buttons {
      // margin-top: 2rem;
   }

   &__button {
      &:not(:last-child) {
         margin-right: 1rem;
      }
   }
}