.main-heading {
   font-size: 8rem;
   text-transform: uppercase;
   text-align: center;
   // user-select: none;
   
   &__letter {
      display: inline-block;
      width: 10rem;
      height: 10rem;
      line-height: 11rem;
      color: $main-heading-color-white;
      text-align: center;

      &:not(:last-child) {
         margin-right: 2rem;
      }

      &--circle {
         border-radius: 50%;
      }

      &--red {
         background-color: $main-heading-color-red;
      }
      
      &--orange {
         background-color: $main-heading-color-orange;
      }
      
      &--purple {
         background-color: $main-heading-color-purple;
      }
      
      &--green {
         background-color: $main-heading-color-green;
      }

      &--blue {
         background-color: $main-heading-color-blue;
      }
      
      &--yellow {
         background-color: $main-heading-color-yellow;
      }
   }
}