.main-menu-button {
   background-color: $theme-color-tertiary;
   height: 7rem;
   width: 7rem;
   border-radius: 50%;
   position: absolute;
   top: 2rem;
   right: 2rem;
   cursor: pointer;
   z-index: 200;
   
   &__icon {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: inline-block;
      position: absolute;

      &,
      &::after,
      &::before {
         background-color: $theme-color-primary;
         width: 3.5rem;
         height: .4rem;
      }

      &::before,
      &::after {
         content: "";
         position: absolute;
         left: 0;
         transition: top .3s ease;
      }

      &::before { top: -1rem; }
      &::after { top: 1rem; }
   }

   &:hover &__icon::before { top: -1.2rem }
   &:hover &__icon::after { top: 1.2rem }
}