.main-menu-button {
   background-color: $theme-color-tertiary;
   height: 7rem;
   width: 7rem;
   border-radius: 50%;
   position: absolute;
   top: 2rem;
   right: 2rem;
   cursor: pointer;
   z-index: 200;
   
   &__hamburger-icon,
   &__cross-icon {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: inline-block;
      position: absolute;

      &,
      &::after,
      &::before {
         background-color: $theme-color-primary;
         width: 3.5rem;
         height: .4rem;
         transition: all .3s ease;
      }
      
      &::before,
      &::after {
         content: "";
         position: absolute;
         left: 0;
      }

      &::before { top: -1rem; }
      &::after { top: 1rem; }
   }
   
   &__cross-icon { 
      background-color: transparent;

      &::before {
         top: 0;
         transform: rotate(45deg);
      }

      &::after { 
         top: 0; 
         transform: rotate(-45deg);
      }
   }

   &:hover &__hamburger-icon::before { top: -1.2rem }
   &:hover &__hamburger-icon::after { top: 1.2rem }
   
   &:hover &__cross-icon::before { left: -.25rem; width: 4rem; }
   &:hover &__cross-icon::after { left: -.25rem; width: 4rem; }
}