.main-menu {
   text-align: center;
   padding-top: 10rem;
   font-size: 2.5rem;

   &__text-block {
      text-align: justify;
   }

   &__heading,
   &__arrow-link {
      font-size: 4rem;
      color: $theme-color-tertiary;
      margin-bottom: 2rem;
   }
   
   &__arrow-link {
      float: left;
      transition: all .3s ease;

      &:hover {
         transform: translateY(-.2rem);
      }
   }

   &__page {
      display: inline-block;
      width: 40%; //TODO
   }

   &__list {
      display: inline-block;
      list-style: none;
   }

   &__item {
      background-color: $theme-color-tertiary;
      margin: 1rem;
      width: 45rem; //TODO
      text-align: right;
   }

   &__link {
      display: block;
      color: $theme-color-primary;
      font-size: 4rem;
      text-decoration: none;
      padding: .5rem 3rem;
      transition: all .3s ease;

      &:hover {
         transform: translateY(-.2rem);
      }
   }
}