.main-heading {
   font-size: 8rem;
   text-transform: uppercase;

   @media screen and (max-width: 900px) {
      font-size: 6rem;
   }

   @media screen and (max-width: 700px) {
      text-align: left;
   }

   @media screen and (max-width: 460px) {
      font-size: 5rem;
      text-align: center;
   }
   
   &__letter {
      display: inline-block;
      width: 10rem;
      height: 10rem;
      line-height: 11rem;
      color: $main-heading-color-white;
      text-align: center;
      
      @media screen and (max-width: 900px) {
         width: 8rem;
         height: 8rem;
         line-height: 9rem;
      }
      
      @media screen and (max-width: 400px) {
         width: 7rem;
         height: 7rem;
         line-height: 8rem;
      }

      &:not(:last-child) {
         margin-right: 2rem;

         @media screen and (max-width: 900px) {
            margin-right: .3rem;
         }
      }

      &--circle {
         border-radius: 50%;
      }

      &--red {
         background-color: $main-heading-color-red;
      }
      
      &--orange {
         background-color: $main-heading-color-orange;
      }
      
      &--purple {
         background-color: $main-heading-color-purple;
      }
      
      &--green {
         background-color: $main-heading-color-green;
      }

      &--blue {
         background-color: $main-heading-color-blue;
      }
      
      &--yellow {
         background-color: $main-heading-color-yellow;
      }
   }
}