.link {
   &:link,
   &:visited,
   &:active { //TODO what other states?
      text-decoration: none;
      color: inherit;
   }
}

.margin-top-small { margin-top: 2rem; }
.margin-top-medium { margin-top: 10rem; }
.margin-top-high { margin-top: 15rem; }

.padding-right-small { padding-right: .8rem; }

.par {
   font-size: 2.5rem;
   padding-bottom: 1.5rem;
}

.center {
   text-align: center;
}