$background-color-primary: #FDFCFA;
$background-color-secondary: #C7E7E2;

$main-heading-color-red: #EC7861;
$main-heading-color-orange: #F9D18C;
$main-heading-color-purple: #A183B5;
$main-heading-color-green: #95EBA2;
$main-heading-color-blue: #9FC3FD;
$main-heading-color-yellow: #E9E287;
$main-heading-color-white: #FEFEFE;

$board-color-gray: #9B9B9B;
$board-color-gray-medium-dark: #676767;
$board-color-gray-dark: #8C8C8C;
$board-color-green-blue: #6EBBB3;
$board-color-yellow: #E8E288;
$board-color-purple: #A183B4;
$board-color-orange: #EC7660;
$board-color-blue: #9FC2FD;
$board-color-green: #95EBA2;
$board-color-blue-dark: #4A6DA3;
$board-color-red-dark: #A05455;
$board-color-yellow-dark: #F9D18C;
$board-color-white: #FFFFFF;
$board-color-black: #353535;
