@import "variables";

@import "utils";
@import "board-page-layout";
@import "layout";
@import "main-heading";
@import "main-menu-button";
@import "main-menu";
@import "board";
@import "button";
@import "game-paused-page";
@import "new-game-page";
@import "new-game-form";
@import "gauge";

@import "main";
